body {
  background-image: url("../photos/photos/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.head {
  text-align: center;
  font-weight: bold;
}
