body {
  background-image: url("../photos/photos/iti.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.tagline {
  color: black;
  padding-top: 160px;
  font-weight: bold;

}
.col-md-6{
  margin-left:0px;
}

