body {
  background-image: url("../photos/photos/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.tagline {
  color: darkslateblue;
  padding-top: 160px;
  font-weight: bold;

}

